.mobHomeBg{
  background: linear-gradient(to right, #23212c 50%, white 50%);
  height: 100vh;
  width: auto;
  display: flex;
  padding: 20px;

}

.homeContainer{
  background: linear-gradient(to right, #23212c 50%, white 50%);
}

.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  grid-column: 4;
  justify-self: right;
  z-index: 9999;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  transition: all 1s ease-out;
  /* margin-left: auto; */
}

.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  grid-column: 4;
  justify-self: right;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  /* margin-left: auto; */
}

.burger-menu .bar1,
.bar2,
.bar3 {
  height: 4px;
  /* background-color: #b2b2b2; */
  background-color: #23212c;
  margin-top: 4px;
  transition: 0.4s;
  text-align: right;
}

.bar1{
  width: 25px;
  margin-left: auto;
}
.bar2{
  width: 30px;
}
.bar3{
  width: 20px;
  margin-left: auto;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
  background-color: white;
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
  background-color: white;
}

/* Menu */

.menu li {
  cursor: pointer;
}
.menu li:hover {
  color: #ff0000;
}

.navigationLink{
  text-decoration: none;
  color: white;
  width: 100%;
  display: flex;
    justify-content: space-between;
}

.navigationLink:hover {
  text-decoration: none;
  color: rgb(255, 227, 227);
}

/* .current{
color: #b2b2b2;
margin-top: 20%;
} */

.menuItemLink{

}

.menuItemNum{
  color: #b2b2b2;
  text-align: center;
}

/* styling for the the menu background */
.popupClass{
  max-height: 0;
  overflow: hidden; /* Like this your content will not be visible until the height is high enough */
  transition: max-height ease .5s; /* Animation */
  /* background-color: green; */
}

/* Mobile Navbar */

.mobNavContainer{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: center;
padding: 10px;
}

.mobMainIcon{
grid-column: 1;
justify-self: center;
align-self: center;
margin: 0;
color: rgb(255, 255, 170);
z-index: 9998;
}

.mobSectionHeading{
grid-column: 2;
justify-self: center;
align-self: center;
padding-left: 5px;
border-left: 1px solid #a5a5a5;
color: #b2b2b2;
margin: 0;
z-index: 9998;
}

.menuContactInfo {
  position: relative;
  color: #b2b2b2;
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 10% 10% 10%;
  /* grid-row-gap: 1px; */
}
/* .test {
  display: grid;
  grid-template-columns: 20% auto auto 20%;
} */

.num1{
grid-column-start: 2;
grid-column-end: 3;
justify-self: left;
/* align-self: left; */
}

.num2{
  grid-column-start: 2;
grid-column-end: 3;
justify-self: left;
/* align-self: left; */
}

.num3{
  grid-column-start: 2;
grid-column-end: 3;
justify-self: left;
/* align-self: left; */
}
.num4{
grid-column-start: 2;
grid-column-end: 3;
justify-self: left;
/* align-self: left; */
}
.title4{
  /* justify-self: left;
  align-self: center; */
}

/* mobtitle.js this is all about the title contianer and its text */

.projectCardDiv{
  height: 100vh;
  top: 0;
}