h1{
 font-family: 'Oswald', sans-serif;
 line-height: 0.9;
 font-weight: 900;
 margin: 0px;
 text-transform: uppercase;
 font-size: 8rem;
 font-style: italic;
 margin-bottom: 40px;
 position: relative;
 display: block;
 word-break: break-all;
}

h2{
  font-family: 'Lobster', cursive;
}

h3{
  font-family: 'Oswald', sans-serif;
}

h4{
    font-family: 'Lato', sans-serif;
    color: #1c1b20;
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 20px;
    display: inline-block;
}

h5{
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}

h6{
  font-family: 'Open Sans', sans-serif;
}

h6 {
  display: block;
  font-size: 0.67em;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h4 {
  display: block;
  margin-block-start: .33em;
  margin-block-end: .33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.mobileContainer{
  padding: 2rem;
  align-content: center;
  align-items: center;
  text-align: center;
}
.mobContainer{
  padding: 20px;
  position: absolute;
  height: 100vh;
  top: 0;
  z-index: 1;
}

.mobHomeBg{
  background: linear-gradient(to right, #23212c 50%, white 50%);
  height: 100vh;
  width: auto;
  display: flex;
  padding: 20px;

}

.homeContainer{
  background: linear-gradient(to right, #23212c 50%, white 50%);
}

body{
  /* background: linear-gradient(to right, #23212c 50%, white 50%); */
}
/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* BurgerIcon and Menu CSS */
.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  grid-column: 4;
  align-self: center;
  justify-self: center;
  /* position: fixed; */
  /* right: 20px; */
  /* bottom: 40px; */
  z-index: 9999;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  /* border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); */ 
  /* -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out; */
  transition: all 1s ease-out;
}

.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  grid-column: 4;
  align-self: center;
  justify-self: center;
  /* position: fixed; */
  /* right: 20px; */
  /* bottom: 40px; */
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  /* border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); */
}

.burger-menu .bar1,
.bar2,
.bar3 {
  height: 3px;
  /* background-color: #b2b2b2; */
  background-color: #23212c;
  margin: 4px 0;
  transition: 0.4s;
  text-align: right;
}

.bar1{
  width: 25px;
}
.bar2{
  width: 30px;
}
.bar3{
  width: 20px;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
  background-color: white;
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
  background-color: white;
}

/* Menu */

.menu {
  width: 100%;
  height: 60%;
  /* margin-top: 4rem; */
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; */
  text-align: center;
  padding: 0px;
  background-color: #23212c;
}
.menu ul {
  position: relative;
  top: 0px;
  /* font-size: 24px; */
  padding: 0px;
  width: 100%;
}
.menu li {
  /* list-style: outside none none; */
  /* margin: 10px 0px;
  padding: 0; */
  cursor: pointer;
}
.menu li:hover {
  color: #ff0000;
}

.navigationLink{
  text-decoration: none;
  color: white;
  width: 100%;
}

.navigationLink:hover {
  text-decoration: none;
  color: rgb(255, 227, 227);
}

.current{
color: #b2b2b2;
margin-top: 3rem;
}

.menuItemLink{
  /* list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
}

.menuItemTitle{
  /* margin-left: 3rem; */
  /* text-align: right;
  flex-grow: 1;
  order: 2;
  margin-right: 8rem; */
  color: white;
}
.menuItemNum{
  /* margin-left: 8rem;
  text-align: left;
  flex-grow: 1;
  order: 1; */
  color: #b2b2b2;
}

/* styling for the the menu background */
.popupClass{
  max-height: 0;
  overflow: hidden; /* Like this your content will not be visible until the height is high enough */
  transition: max-height ease .5s; /* Animation */
}

/* Mobile Navbar */

.mobNavContainer{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: center;
padding: 10px;
}

.mobMainIcon{
grid-column: 1;
justify-self: center;
align-self: center;
margin: 0;
color: rgb(255, 255, 170);
z-index: 9999;
}

.mobSectionHeading{
grid-column: 2;
justify-self: center;
align-self: center;
padding-left: 5px;
border-left: 1px solid #a5a5a5;
color: #b2b2b2;
margin: 0;
z-index: 9999;
}

.menuContactInfo {
  position: relative;
  color: #b2b2b2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5rem 1.5rem 1.5rem 1.5rem;
  /* grid-row-gap: 1px; */
}
.test {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
}

.num1{
grid-column-start: 2;
grid-column-end: 3;
justify-self: left;
/* align-self: left; */
}
.title1{
  justify-self: left;
  align-self: center;
}
.num2{
  grid-column-start: 2;
grid-column-end: 3;
justify-self: left;
/* align-self: left; */
}
.title2{
  justify-self: left;
  align-self: center;
}
.num3{
  grid-column-start: 2;
grid-column-end: 3;
justify-self: left;
/* align-self: left; */
}
.title3{
  justify-self: left;
  align-self: center;
}
.num4{
grid-column-start: 2;
grid-column-end: 3;
justify-self: left;
/* align-self: left; */
}
.title4{
  justify-self: left;
  align-self: center;
}
.num5{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: left;
  align-self: center;
  /* align-self: left; */
  }
.num6{
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: left;
    align-self: center;
    /* align-self: left; */
    }
.num7{
      grid-column-start: 2;
      grid-column-end: 3;
      justify-self: left;
      align-self: center;
      /* align-self: left; */
      }

/* mobtitle.js this is all about the title contianer and its text */
.titleTextContainer{
  position: relative;
  top: 39%;
}
.titleText{
  width: 100%;
}
.titleQuoteText{
  color: white;
}

.titleSubText{
  top: 48%;
  color: red;
  position: relative;
}